/target
/crates/*/header-check/target
/crates/*/header-check/Cargo.lock
debug.out
core
out/

# Ignore all binary and decompiled ACPI files except the ones used for tests.
*.dat
*.dsl
!phd-tests/tests/testdata/acpi/**/*.dat
