[workspace]

members = [
  "crates/*",
  "bin/*",
  "lib/*",
  "packaging/propolis-package",
  "phd-tests/*",
]

default-members = [
  "crates/*",
  "lib/*",
  "bin/propolis-cli",
  "bin/propolis-server",
  "bin/propolis-standalone",
]

exclude = [
  "crates/bhyve-api/header-check",
  "crates/viona-api/header-check",
  "phd-tests/buildomat",
]

[profile.dev]
panic = "abort"
[profile.release]
panic = "abort"

# The PHD test runner needs to use unwinding to catch panics that occur during
# tests (e.g. due to a failed `assert!` in a test case).
[profile.phd]
inherits = "dev"
panic = "unwind"

[patch."http://github.com/oxidecomputer/rfb"]
# Double / here is intentional to defeat cargo's git canonicalization and allow us to
# patch a crate using the same source.
# Temp until https://github.com/oxidecomputer/rfb/pull/9 lands
rfb = { git = "http://github.com/oxidecomputer//rfb", branch = "luqmana/vnc-stop" }