[workspace]

members = [
  "crates/*",
  "bin/*",
  "lib/*",
  "packaging/propolis-package",
]

default-members = [
  "crates/*",
  "lib/*",
  "bin/propolis-cli",
  "bin/propolis-server",
  "bin/propolis-standalone",
]

exclude = [
  "crates/*/header-check",
]

[profile.dev]
panic = "abort"
[profile.release]
panic = "abort"
