[workspace]

members = [
  "crates/*",
  "bin/*",
  "lib/*",
  "packaging/propolis-package",
  "phd-tests/*",
]

default-members = [
  "crates/*",
  "lib/*",
  "bin/propolis-cli",
  "bin/propolis-server",
  "bin/propolis-standalone",
]

exclude = [
  "crates/bhyve-api/header-check",
  "crates/viona-api/header-check",
]

[profile.dev]
panic = "abort"
[profile.release]
panic = "abort"

# Special
[profile.phd]
inherits = "dev"
panic = "unwind"
