[package]
name = "phd-testcase-macros"
version = "0.1.0"
edition = "2021"

[lib]
proc_macro = true
test = false
doctest = false

[dependencies]
proc-macro2.workspace = true
quote.workspace = true
syn = { workspace = true, features = ["full"] }
