[package]
name = "propolis_api_types"
version = "0.0.0"
license = "MPL-2.0"
edition = "2021"

[lib]
doctest = false

[dependencies]
crucible-client-types.workspace = true
propolis-api-types-versions.workspace = true
