[package.propolis-server]
service_name = "propolis-server"
source.type = "local"
source.rust.binary_names = ["propolis-server"]
source.rust.release = true
source.paths = [
    { from = "packaging/smf/propolis-server", to = "/var/svc/manifest/site/propolis-server" },
    { from = "packaging/smf/method_script.sh", to = "/opt/oxide/lib/svc/manifest/propolis/propolis.sh" },
]
source.blobs = [ "alpine.iso" ]
output.type = "zone"

# N.B. Should be kept in sync with phd-tests/artifacts.toml.
[[package.propolis-server.source.buildomat_blobs]]
repo = "edk2"
series = "image_debug"
commit = "8c60ff4c271b0442b9a506a5cf9eab04cd5554aa"
artifact = "OVMF_CODE.fd"
sha256 = "9ce2266aaefb671a1977ddabb5155f8235be134f797e6c831abeb6c97c705569"
